/* CSS styles for the overall app container */
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* CSS styles for the calculator component */
.calculator{
  height: auto;
  width: 400px;
  border-radius: 10px;
  background-color: black;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CSS styles for the input box */
.input-box{
  min-height: 90px;
  width: 90%;
  padding: 5px;
  border: none;
  text-align: right;
  border-bottom: 1px solid white;
  background-color: black;
  opacity: 0.7; 
  outline: none;
  font-size: 50px;
  color: white;
}

/* CSS styles for each row of buttons */
.calculator div{
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* CSS styles for each button */
button{
  border: none;
  outline: none;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  color: white;
  background-color: black;
  font-size: 25px;
  box-shadow: 0px 0px 2px white;
  transition: background-color 0.2s ease-in-out;
}

/* CSS styles for button focus and active states */
button:focus,button:active {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  /* or */
  outline: 2px solid rgba(0, 0, 0, 0.2);
}

/* CSS styles for the function buttons */
.fun-btn{
  color: orange;
}

/* CSS styles for the equals button */
.fun-btn-eq{
  background-color: orange;
}

/* CSS styles for the zero button */
.zero-btn{
  width:140px;
  border-radius: 140px;
}

/* CSS styles for small screens */
@media screen and (max-width:425px){
  .calculator{
    width: 98%;
  }
}
